body {
    font-family: Poppins, sans-serif;
    font-size: 22px;
    color: #dfdce3;
    margin: 0;
    background-color: #4abdac;
    text-align: center;
}

* {
    box-sizing: border-box;
}
.navbar {
    overflow: hidden;
    background-color: coral;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-weight: bold;
}

.navbar a {
    float: left;
    display: block;
    color: #4abdac;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

ul {
    list-style-type: none;
}

#home {
    margin-top: 100px;
}

#home h1 {
    font-family: "Abril Fatface", sans-serif;
}

#home p:hover {
    background-color: coral;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #99d7ce;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: #ddd;
  position: absolute;
  top: 80px;
  right: 75px;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    /*center table*/
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid #dfdce3;

}

th, td {
    padding: 15px;
}

th {
    background-color: coral;
}

* {
    box-sizing: border-box;
}

.table_column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 250px;
    color: #dfdce3;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

form input[type=text] {
    width: 30%;
    margin: 8px 0;
    border: 2px solid #4abdac;
    border-radius: 4px;
    color: darkslategray;
}

footer {
    text-align: center;
    font-weight: bold;
    line-height: 8px;
}

.text {
    background-color: #04aa6d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.container {
    position: relative;
    text-align: center;
    color: #dfdce3;
}

.video {
    position: absolute;
    top: 60px;
    left: 300px;
}